body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./floral_background.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header,
h1 {
  font-family: "Dosis", sans-serif;
  display: inline;
  position: relative;

}

/* About Me Page */
.myResH2 {
  display: inline;
  position: relative;
  float: right;
  font-family: "Dosis", sans-serif;
  color: #63273e;
  text-decoration: none;
}

h2:hover {
  color: #e09e86;
}

.about-me-paragraph {
  text-indent: 25px;
  font-size: 120%;
  line-height: 1.75;
  letter-spacing: 1px;
  
}

.downloadRes {
  color: #e09e86;
}

footer {
  text-align: -webkit-center;
}
